*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEE;
   
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 }   
.container{
    max-width: 1000px;
    background-color:rgba(131, 185, 167, 0.301);
    margin: 0 auto;
    padding: 30px;
}


.profile-image{
    width: 90px;
    height: 110px;
    border:3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 10px;
}
h1,h2,h3,h4,h5,h6{
    color:darkslategrey;
}
.header-contact{
    float: right;
    padding: 20px;
}
.header-contact a{
     text-decoration: none;
     color:darkslategray;
     font-weight: bold;
    
}
.header-contact a:hover{
   text-decoration: underline;
   color:coral;
}
.div-clear{
    clear: both;
}
hr{
    border:solid black 2px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;

}
#personal-section{

}
.content{
    
}
.left-div{
     width: 30%;
     float: left;
}
.right-div{
     width: 70%;
     float: left;
}
.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px;
}

.edu-template-left{
    float:left;
    width:45%;
}
.edu-template-right{
    float:right;
    width:45%;
}